<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Community Forum</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/Home.css" />
    <link rel="icon" href="../static/img/LogoIMG.jpg" />
    
</head>

<noscript>
    <h1>Activate JavaScript or Nothing Will Work.</h1>
</noscript>

<body>
    <script type="module" src="../static/js/index.js"></script>
</body>
</html>